# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv
.idea

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# Model files
models/*.pkl

# Dataset files
data/*.txt
data/*.csv

# System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log